// $family-sans-serif: "Roboto Slab", serif;

$phone: 500px;
$tablet: 750px;
$desktop: 900px;
$widescreen: 1050px;
$fullhd: 1050px;

$primary: #264653;
$link: #48839b;
$info: #264653;
$success: #2a9d8f;
$warning: #e9c46a;
$danger: #e76f51;

$navbar-height: 4.5rem;
